# haskell defaults (github)
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config

# python
*.pyc

# project
test/coverage
test/docs
test/tmp
hamsql.tix
hamsql-stmt-log.sql
.cache
