# haskell defaults (github)
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config

# python
*.pyc

# project
tests/coverage
tests/docs
hamsql.tix
hamsql-stmt-log.sql
.cache
