body {
    font-family: sans-serif;
    font-size: 0.9em;
    max-width: 65em;
    margin: auto;
}

h1::before {
    font-style: normal;
    content: 'Module ';
}

td, th {
    max-width: 30em;
    min-width: 7em;
    padding: 0.3em 0.6em;
    vertical-align: top;
    border-collapse: collapse;
}

:target {
    animation: hint 3s;
}

@keyframes hint {
    50% {
        background-color: yellow; 
        border-radius: 0.5em;
    }
} 

table {
    background-color: lightblue;
    border-radius: 0.4em;
    padding: 0.1em;
}

h1, h3 {
    font-style: italic;
}

h1 {
    background-color: grey;
    color: white;
    padding: 0.3em;
    margin-top: 2em;
}


/* navi */

body > ul {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: blue;
    width: 4em; 
    height: 4em;
    border-radius: 0.5em;
    display: block;
}

body > ul li {
    display: none;
}

body > ul:hover {
    background-color: white;
    width: auto;
    height: auto;
    max-height: 90%;
    background-color: #EEE;
    overflow: auto;
    padding: 0.5em 2em;
}

body > ul:hover li {
    display: inherit;
}

body > section {
    padding-left: 5em;
}

/* level of element definitions like table */

section section section {
    border-width: 1px 1px 1px 0.5em;
    border-style: solid;
    padding-left: 0.5em;
    margin-left: 0.5em;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

h3 {
    margin: 0;
    padding: 0.5em 0 0 0;
}

section section section {
    border-color: #41ab5d;
}

section section section:nth-of-type(2n) {
    border-color: #78c679;
}

section section section[id^='TABLE-'] {
    border-color: #74a9cf;
}

section section section[id^='TABLE-']:nth-of-type(2n) {
    border-color: #3690c0;
}

section section section[id^='FUNCTION-'] {
    border-color: #feb24c;
}

section section section[id^='FUNCTION-']:nth-of-type(2n) {
    border-color: #fd8d3c;
}

/* level of single definitions like columns */

section section section section {
    border-width: 0;
    font-size: 0.9em;
    background-color: #bdbdbd;
    border-radius: 0.3em;
    padding: 0.5em;
    margin: 0.5em;
}

section section section section:nth-of-type(2n+1) {
    background-color: #d9d9d9;
}

h4 {
    display: inline;
}

h4::after {
    content: ':';
}

section section section section p {
    display: inline;
}

ul, ol {
    margin: 0.3em;
    margin-top: 0.7em;
    padding-left: 1.5em;
}

ul {
    list-style: square;
}


ul ul, ol ol {
    margin: 0;
}

ul ul {
    list-style: circle;
}

